.startpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;

}

.startpage__headning {
    color: #b60055;
    margin-bottom: 40px;
}

.startpage__form {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 12px;
    box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
    width: 100%;
    box-sizing: border-box;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 6rem 2rem;
}

.startpage__form > label {
    font-size: 1.15rem;
    color:rgb(45, 45, 45)
}

.startpage__form > input {
    height: 80px;
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.startpage__form > button {
    width: 200px;
    height: 65px;
    margin-top: 4rem;
    padding: 1rem 1.5px;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
    color: white;
    background-color: #382b76;
    transition: background-color 0.1s ease-out;
    cursor: pointer;
} 

.startpage__form > button:hover {
    background-color: #1b1053;
}

.startpage__form > button:disabled {
    background-color: #e5e8f3;
    color: rgba(0, 0, 0, 0.3);
}

