.startpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100dvh;
    padding-inline: 22px;
     padding-top: calc(1 * env(safe-area-inset-top, 20px));
}

.startpage__heading {
    margin-top: 30px;
}

.startpage__gamelogo {
    width: 45vw;
    max-width: 350px;
}

.startpage__form-container {
    display: flex;
    align-items: center;
    flex-grow: 10;
    width: 100%;
    justify-content: center;
}

.startpage__form {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 12px;
    box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
    width: 100%;
    min-height: 60dvh;
    box-sizing: border-box;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 5rem 2rem;
    margin-bottom: 60px;
}

.startpage__form > label {
    font-size: 1.4rem;
   color: #5348b9;
    font-weight:700;
}

.startpage__form > input {
    height: 80px;
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 6px;
    background-color:white;
    margin-bottom: 3rem;;
}

.startpage__form > input:focus {
    outline: 2px solid #E68CA7;
}

.startpage__form > input::placeholder {
    color: rgb(164, 164, 164);
} 

.startpage__form > input:-webkit-autofill,
.startpage__form > input:-webkit-autofill:hover,
.startpage__form > input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
    outline: 2px solid #E68CA7;
}

.gameLogo{
    width: 400px;
}
