
.categories__greeting {
  font-weight: 600;
  font-size: 1.6rem;
  margin: 30px 0;
  color:#6158B8;

}

.categories__form {
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 18px;
}

.categories__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.categories__fieldset > legend {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 14px;
  color: #382B76;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* each card */
.categories-container > .category {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
