.categories__greeting {
  align-self: flex-start;
  color: #6158b8;
  font-weight: 600;
  font-size: 1.5rem;
  margin-block: 1rem;
  margin-left: 6px; /* compensation margin */
}

.categories__form {
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.categories__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.categories__fieldset > legend {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 14px;
  color: #382b76;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 14px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* each card */
.categories-container > .category {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media screen and (width >= 768px) {
.categories__greeting {
  margin-block: 1.5rem;
}

  .categories-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width >= 1024px) and (orientation: landscape) {
  .categories__form {
    min-height: 60vh;
  }
  .categories-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
