.level,
.category {
  position: relative;
  padding: 12px;
  border: 2px solid #f7f7f7;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  background-color: #f7f7f7;
  text-align: center;
}

.level__text, .category__text {
  margin: 0;
}

.level input[type="radio"], .category input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.level:hover {
  border-color: #888;
}

/* Checked state */
.level:has(input[type="radio"]:checked) {
  background-color: #2563eb;
  border-color: #2563eb;
  color: white;
}

/* Keyboard focus
.level:has(input[type="radio"]:focus-visible) {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
} */

.category {
  display: grid;
  grid-template-rows: auto fit-content;
  justify-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  gap: 10px;
  box-sizing: border-box;
}

.category__image-container {
  width: 100%;
  overflow: hidden;
}

.category__image {
  width: 100%;
  object-fit: contain;
}

.category__text {
    font-size: 14px;
}
