.quiz {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 10;
  width: 100%;

  width: clamp(300px, 95%, 800px);
}

.quiz__inner {
  display: flex;
  flex-direction: column;

  background-color: rgba(240, 240, 240, 0.85);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3rem;

  gap: clamp(1rem, 3vw, 2rem);

  padding: 0;
  overflow: hidden;
}

.quiz__score-number {
  font-weight: 700;

  font-size: clamp(1.1rem, 1.5vw, 1.3rem);
}
.quiz__question-text {
  padding: clamp(2rem, 1vw, 1rem) clamp(1rem, 3vw, 2rem);
  text-align: center;
}

.quiz__question-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: clamp(70px, 10vh, 100px);

  padding-inline: clamp(1rem, 5vw, 1rem);

  text-align: center;
  font-weight: 700;
  max-width: 600px;
  align-self: center;
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  line-height: 1.3;
}

.quiz__answers-container {
  gap: clamp(0.8rem, 1.5vw, 1.25rem);
  align-items: stretch;
}

.quiz__content {
  flex: 1;
  padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1.8rem, 5vw, 2rem)
    clamp(2rem, 1vw, 0.8rem) clamp(1.8rem, 5vw, 2rem);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz__footer {
  padding: 0 clamp(1rem, 3vw, 2rem) clamp(0.5rem, 2vw, 1.5rem)
    clamp(1rem, 5vw, 2rem);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
