.quiz {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 10;
  width: 100%;
  max-width: 800px;
}

.quiz__inner {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  gap: 25px;
  padding: 30px 18px;
  width: 100%;
}

.quiz__score-number {
    font-weight: 600;
    font-size: 1.1rem;
}

.quiz__question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  padding-inline: 20px;
  text-align: center;
  font-weight: 600;
  max-width: 550px;
  font-size: 1.1rem;
  align-self: center;
}

.quiz__answers-container {
  gap: 16px;
  align-items: stretch;
  
}
