.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
}

.userContainer .avatar {
  position: absolute;
  top: 20px;
  z-index: 10;
}

.userName {
  color: #352872;
  margin: 0;
  margin-top: 60px;
}
.userColors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 6px 0 12px;
}
.userColors button:hover {
  transform: scale(1.1);
  transition: transform 0.15s;
}
.userInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.6);
  /*   background-color: rgba(240, 240, 240, 0.85); 
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px); 
  will-change: backdrop-filter;
  transform: translateZ(0);*/

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: clamp(2rem, 4vh, 3rem);
  gap: 25px;
  padding: 40px 30px 30px;
  margin-bottom: 30px;
  margin-top: 100px;

  width: 80%;
}
.userWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.nameChangeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 250px;
  /* height: 200px; */
  min-height: 180px;
  border-radius: 12px;
  margin: 10px;
}
.userScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 250px;
  /* height: 200px; */
  min-height: 180px;
  border-radius: 12px;
  margin: 10px;
}
.scoreDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #f2b94c, #e68ca7, #6158b8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userButtons {
  display: flex;
  flex-direction: column;
}

.userNameInput {
  border: 2px solid #5aa2c9;
  padding: 12px;
  margin: 12px;
  border-radius: 7px;
}

.userNameButton {
  border: none;
  background-color: #e68ca7;
  padding: 12px;
  border-radius: 20px;
  color: white;
  width: 150px;
}

@media (min-width: 768px) {
  .userButtons {
    flex-direction: row;
  }
  .userWrapper {
    flex-direction: row;
  }
  .userColors {
    display: flex;
    flex-direction: row;
  }
}
