.userInner .avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.userInner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: clamp(2rem, 4vh, 3rem);
  gap: 20px;
  padding: 30px 18px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.userName {
  color: #352872;
  margin: 0;
  margin-top: 45px;
}
.userColors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 2px 0 14px;
}
.userColors button:hover {
  transform: scale(1.1);
  transition: transform 0.15s;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}

.nameChangeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 250px;
  /* height: 200px; */
  min-height: 180px;
  border-radius: 12px;
  margin: 10px;
}
.userScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 250px;
  /* height: 200px; */
  min-height: 180px;
  border-radius: 12px;
  margin: 10px;
}
.scoreDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #f2b94c, #e68ca7, #6158b8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userButtons {
  display: flex;
  flex-direction: column;
}

.userNameInput {
  border: 2px solid #5aa2c9;
  padding: 12px;
  margin: 12px;
  border-radius: 7px;
}

.userNameButton {
  border: none;
  background-color: #e68ca7;
  padding: 12px;
  border-radius: 20px;
  color: white;
  width: 150px;
}

@media (min-width: 768px) {
  .userButtons {
    flex-direction: row;
  }
  .userWrapper {
    flex-direction: row;
  }
  .userColors {
    display: flex;
    flex-direction: row;
  }
}
