.userInner .avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.userInner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: rgba(240, 240, 240, 0.6);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: clamp(2rem, 4vh, 3rem);
  gap: 20px;
  padding: 30px 18px;
  margin-top: 25px;
}

.userName {
  color: #352872;
  margin: 30px 0 0;
}

.userColors {
  display: flex;
  gap: 14px;
  justify-items: center;
  padding: 5px;
  margin: 2px 0 12px;
}

.user__color-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.userColors button:hover {
  transform: scale(1.1);
  transition: transform 0.15s;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  width: 100%;
  max-width: 300px;
}

.user__info {
  padding: 20px 12px;
  width: 100%;
}

.nameChangeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
}

.userScore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
}
.scoreDisplay {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #f2b94c, #e68ca7, #6158b8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userNameInput {
  width: 250px;
  border: 2px solid #5aa2c9;
  padding: 12px;
  margin: 12px;
  border-radius: 7px;
  text-align: center;
}

.userNameButton {
  border: none;
  background-color: #e68ca7;
  padding: 12px;
  font-weight: 600;
  border-radius: 20px;
  color: white;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .userName {
    margin-top: 40px;
  }

  .userColors {
    display: flex;
    flex-direction: row;
  }

  .user__color-button {
    width: 40px;
    height: 40px;
  }

    .userWrapper {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }

  .user__info {
  padding: 26px 18px;
}

  .scoreDisplay {
    font-size: 1.5rem;
  }
}
