.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-grow: 10;
  width: 100%;
  max-width: 800px;
}

.userContainer .avatar {
  position: absolute;
  top: 100px;
  z-index: 10;
}
.userColors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 20px 0;
}
.userColors button:hover {
  transform: scale(1.1);
  transition: transform 0.15s;
}
.userInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  gap: 25px;
  padding: 120px 30px 30px;
  margin-bottom: 30px;
  margin-top: 200px;

  width: 80%;
}
.userWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.nameChangeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 250px;
  border-radius: 12px;
  margin: 10px;
}
.userScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 250px;
  border-radius: 12px;
  margin: 10px;
}
.userButtons {
  display: flex;
  flex-direction: column;
}

.userNameInput {
  border: 2px solid #5aa2c9;
  padding: 12px;
  margin: 12px;
  border-radius: 7px;
}

.userNameButton {
  border: none;
  background-color: #e68ca7;
  padding: 12px;
  border-radius: 20px;
  color: white;
  width: 150px;
}

@media (min-width: 768px) {
  .userButtons {
    flex-direction: row;
  }
  .userWrapper {
    flex-direction: row;
  }
  .userColors {
    display: flex;
    flex-direction: row;
  }
}
