.submit-button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 9999px;
  padding: 1em 1.5em;

}

.submit-button:hover {
    filter: brightness(0.9);
}

/* Klick mörkning */
.submit-button:active {
    filter: brightness(0.8);
}