.submit-button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(12.5rem, 30%, 21.875rem);
  min-height: clamp(3.125rem, 7vh, 3.75rem);
  margin: clamp(0.4rem, 0.6vw, 1rem);
  padding: clamp(0.8rem, 1.5vw, 1rem) clamp(1.2rem, 3vw, 2rem);

  border: none;
  border-radius: 9999px;

  box-shadow:
    inset 0 0 0 0 rgba(255, 255, 255, 0),
    inset 0 0 0 0 hsla(248, 64%, 70%, 0),
    0 0 1.5rem hsla(248, 64%, 50%, 0.4),
    inset 0 0 0 0.1rem rgba(255, 255, 255, 0.6);

  transform: scale(1);

  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-weight: 700;
  line-height: 1;
  color: white;
  background-color: hsla(248, 64%, 50%, 0.7);
  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  transition:
    background-color 0.3s ease,
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.3s ease;
}

.submit-button:hover {
  background-color: hsla(247, 64%, 50%, 0.9);
  transform: scale(1.05);

  box-shadow:
    inset 0 0 2rem 0.2rem rgba(255, 255, 255, 0.2),
    inset 0 0 0 0 hsla(247, 64%, 60%, 0),
    0 0 2rem hsla(247, 80%, 60%, 0.6),
    inset 0 0 0 0.2rem rgba(255, 255, 255, 0.6);
}

.submit-button:active {
  transform: scale(0.98);
  box-shadow:
    inset 0 0 2rem 0.2rem rgba(255, 255, 255, 0.2),
    inset 0 0 0 0 hsla(247, 64%, 60%, 0),
    0 0 0.8rem hsla(247, 80%, 60%, 0.6),
    inset 0 0 0 0.15rem rgba(255, 255, 255, 0.6);
}

.submit-button:disabled {
  background-color: #D8D3F9;
  color: #F3F1FF;
  cursor: not-allowed;
  transform: scale(1);
  box-shadow: none;
  cursor: default;
}

.submit-button--game-over {
  background-color: #ef4444;
  box-shadow:
    inset 0 0 0 0 rgba(255, 255, 255, 0),
    0 0 0 0 rgba(239, 68, 68, 0.4),
    0 0 1.5rem rgba(239, 68, 68, 0.4),
    inset 0 0 0 0.1rem rgba(255, 255, 255, 0.6);
}

.submit-button--game-over:hover {
  background-color: #dc2626;

  box-shadow:
    inset 0 0 2rem 0.2rem rgba(255, 255, 255, 0.2),
    inset 0 0 0 0 rgba(239, 68, 68, 0),
    0 0 2rem rgba(220, 38, 38, 0.7),
    inset 0 0 0 0.2rem rgba(255, 255, 255, 0.6);
}

.submit-button--game-over:active {
  box-shadow:
    inset 0 0 2rem 0.2rem rgba(255, 255, 255, 0.4),
    inset 0 0 0 0 rgba(239, 68, 68, 0),
    0 0 0.8rem rgba(220, 38, 38, 0.7),
    inset 0 0 0 0.15rem rgba(255, 255, 255, 0.6);
}
