.back-button {
  box-sizing: content-box;
  border: none;
  outline: none;
  width: clamp(2.5rem, 6dvh, 3.125rem);
  height: clamp(2.5rem, 6dvh, 3.125rem);
  aspect-ratio: 1/1;
  background-color: transparent;
}

.back-button__bg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #6158b8;
  padding: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media screen and (width>=768px) {
    .back-button {
        height: 50px;
    }
}
*/
