.rulesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-grow: 10;
  width: 100%;
  max-width: 800px;
}

.rulesInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  gap: 25px;
  padding: 30px 18px;
  margin-bottom: 30px;

  width: 100%;
}
.rulesChallenge {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
}
.rulesBox {
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  background-color: #fcfcfc;
  text-align: center;
  margin: 12px;
}

.ruleCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow: scroll;
}

.rulesSmallHeadline {
  text-align: center;
}
