.rulesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-grow: 10;
  width: 90%;
  max-width: 800px;
  color: #352872;
}
.rulesHeading {
  color: #352872;
  margin: 0;
}

.rulesInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);

  border-radius: 12px;
  gap: 25px;
  padding: 30px 18px;
  margin-bottom: 30px;

  width: 100%;
}
.rulesChallenge {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 500px;
}
.rulesChallengeText {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}
.rulesBox {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
  background-color: #fcfcfc;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 12px 12px 20px;
  width: 300px;
  height: auto;
}
.rulesBox h2 {
  margin-bottom: 14px;
}

.rulesBox ul {
  padding-left: 0;
  list-style-position: inside;
}

.ruleCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rulesSmallHeadline {
  text-align: center;
  
}

.powerUpWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.powerUpBox {
  width: 80%;
  /* min-height: 100px; */
  height: auto;
  display: flex;
  flex-direction: column;
}
.powerUpBox p {
  margin: 0.5rem;
  line-height: 1.1;
  opacity: 0.85;
}
.powerUpHeadline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 4px;
}
.powerUpHeadline h3 {
  color: #6158b8;
  font-size: 1.1rem;
  margin: 0.3rem;
}
.rulesIcon {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.rulesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
  text-align: left;
  list-style: none;
}
.rulesList li {
  border-radius: 8px;
  padding: 8px 10px;
  line-height: 1.1;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  background: transparent;
}
.rulesList li::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("/star.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .ruleCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .rulesChallengeText {
    font-size: 1.1rem;
  }
  .rulesBox {
    width: 250px;
    margin-bottom: 0;
  }
}
