.header {
    height: 40px;
    padding: 25px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header__quiz-name {
    margin: 0;
    color: #b60055;
    font-size: 28px;
    font-family: serif;
    align-self: center;
}

.header__placeholder {
    height: 100%;
    aspect-ratio: 1/1;
}