.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: calc(clamp(3.5rem, 9dvh, 5rem) + env(safe-area-inset-top, 0px));
  width: 100%;
  margin: 0 auto;
  padding-inline: clamp(1.125rem, 2vw + 0.5rem, 1.375rem);
  padding-bottom: 1.125rem;
  padding-top: calc(1rem + env(safe-area-inset-top, 0px));
  background-color: transparent;
  box-sizing: border-box;
  transition:
    background-color 0.15s ease,
    box-shadow 0.15s ease,
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    min-height 0.3s ease,
    height 0.3 ease,
    padding 0.3s ease;
}

.header--scrolled {
  background: linear-gradient(
    211deg,
    rgb(224, 195, 252) 0%,
    /* first color */ rgb(248, 234, 227) 50%,
    /* middle color */ rgb(182, 205, 233) 100% /* last color */
  );
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 950px;
  height: 100%;
}

.header__placeholder {
  height: 100%;
  aspect-ratio: 1/1;
}

.header .avatar__icon {
  height: 100%;
}
.header__gamelogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
.header__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  --avatar-size: clamp(2.5rem, 6dvh, 3.125rem);
  width: var(--avatar-size);
  height: var(--avatar-size);
}
