.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 18px 22px;
  background-color: transparent;
  box-sizing: border-box;
  transition:
    background-color 0.15s ease,
    box-shadow 0.15s ease;
}

.header--scrolled {
  background: linear-gradient(
    211deg,
    rgb(224, 195, 252) 0%,
    /* first color */ rgb(248, 234, 227) 50%,
    /* middle color */ rgb(182, 205, 233) 100% /* last color */
  );
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 950px;
  height: 100%;
}

.header__placeholder {
  height: 100%;
  aspect-ratio: 1/1;
}

.header .avatar__icon {
  height: 100%;
}
.header__gamelogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
