.levels {
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
  padding: 30px 18px;
}

.levels__category-container {
  display: grid;
  justify-items: center;
  gap: 5px;
}

.levels__category-image {
  width: 27%;
  max-width: 100px;
  object-fit: contain;
}

.levels__category-name {
  font-weight: 600;
  font-size: 1.5rem;
  color: #6158b8;
  margin-top: 0;
  margin-bottom: 22px;
}

.levels__form {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.levels__fieldset {
    border: none;
    margin: 10px auto;
    max-width: 570px;
    padding: 0;
    width: 100%;
}

.levels__modifiers-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 10px;
}

.levels__fieldset > legend {
  font-size: 1rem;
  line-height: 16px;
  padding: 0;
  margin-bottom: 14px;
  color: #382b76;
}

.levels-container {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.modifierButton {
  background-color: #e7a2b7;
  border: 2px solid #e7a2b7;
  border-radius: 30px;
  color: #352872;
  max-width: 130px;
  font-weight: 600;
}
.modifierButton:hover {
  border: 2px solid #6158b8;
}
.modifierButton.active {
  background-color: #6158b8;
  border: 2px solid #6158b8;
  color: white;
}
.modifierIcon {
  height: 25px;
}
.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px;
}
.buttonContent p {
  display: none;
}

@media (min-width: 768px) {
  .modifierButton {
    width: 130px;
  }
  .modifierIcon {
    height: 25px;
  }
  .buttonContent p {
    display: block;
  }
  .buttonContent {
    padding: 0;
  }
}
