.levels {
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 3px 8px 8px rgba(75, 30, 7, 0.1);
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
  padding: 30px 18px;
}

.levels__category-container {
  padding: 8px 0;
  display: grid;
  justify-items: center;
}

.levels__category-image {
  height: 50px;
  object-fit: contain;
}

.levels__category-name {
  font-weight: 600;
 color: #5348b9;
}

.levels__form {
  margin-top: 22px;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.levels__fieldset {
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
}

.levels__modifiers-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 8px;
}

.levels__fieldset > legend {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 14px;
  color: rgb(96, 96, 96);
}

.levels-container {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.modifierButton {
  background-color: #e68ca7;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  width: 100px;
}
.modifierButton:hover {
  background-color: #b04464;
}
.modifierButton.active {
  background-color: #b04464;
}
