.avatar {
  padding: 0;
  padding-top: 2px;
  box-sizing: border-box;
  width: var(--avatar-size, 2.5rem);
  height: var(--avatar-size, 2.5rem);
  display: inline-block;
}

.avatar__icon {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  font-size: calc(var(--avatar-size) * 0.45);
  line-height: 1;
  text-transform: uppercase;
}

