.shared-container {
  background-color: rgba(240, 240, 240, 0.6);
  /*   background-color: rgba(240, 240, 240, 0.85); 
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px); 
  will-change: backdrop-filter;
  transform: translateZ(0);*/

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: clamp(2rem, 4vh, 3rem);
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app-content-wrapper {
  width: 100vw;
  min-height: 100dvh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
