@import url(./views/StartPage//StartPage.css);
@import url(./views/Categories/Categories.css);
@import url(./views/Levels/Levels.css);
@import url(./components/RadioOption/RadioOption.css);
@import url(./components/SubmitButton/SubmitButton.css);
@import url(./views/UserProfile/UserProfile.css);
@import url(./views/Quiz/Quiz.css);
@import url(./components/Avatar/Avatar.css);
@import url(./components/SubmitButton/SubmitButton.css);
@import url(./views/Rules/Rules.css);

@font-face {
  font-family: "SF Pro Display";
  src: url("../public/fonts/SF\ Pro\ Display\ Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../public/fonts/SF\ Pro\ Display\ Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../public/fonts/SF\ Pro\ Display\ Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  min-height: 100%;
  background: linear-gradient(
    211deg,
    rgb(255 222 204) 0%,
    rgb(182 205 233) 100%
  );
}

body {
  font-family: "SF Pro Display", "Arial", sans-serif;
  display: flex;
  margin: 0;
  min-height: 100%;
  background: transparent;
  color: rgb(19, 19, 19);
}

#root {
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: env(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 40px;
}
