@import url(./views/StartPage//StartPage.css);

body {
    display: flex;
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    min-height: 100dvh;
        background: linear-gradient(
        211deg,
        rgba(253, 156, 133, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    )
}

#root {
    margin:  0 auto;
    width: 100%;
    max-width: 1200px;

}
