@import url(./views/StartPage//StartPage.css);
@import url(./views/QuizSettings/quizSettings.css);
@import url(./components/RadioOption/RadioOption.css);
@import url(./components/SubmitButton/SubmitButton.css);
@import url(./views/UserProfile/UserProfile.css);
@import url(./components/Avatar/Avatar.css);

body {
  display: flex;
  margin: 0;

  box-sizing: border-box;
  min-height: 100dvh;
  background: linear-gradient(
    211deg,
    rgb(255 222 204) 0%,
    rgb(182 205 233) 100%
  );
}

#root {
  margin: 0 auto;
    padding: 30px 28px;
  width: 100%;
  max-width: 1200px;
  min-height: 100dvh;
  box-sizing: border-box;
}
