@import url(./views/StartPage//StartPage.css);
/* @import url(./views/QuizSettings/quizSettings.css); */
@import url(./views/Categories/Categories.css);
@import url(./views/Levels/Levels.css);
@import url(./components/RadioOption/RadioOption.css);
@import url(./components/SubmitButton/SubmitButton.css);
@import url(./views/UserProfile/UserProfile.css);
@import url(./components/Avatar/Avatar.css);
@import url(./components/SubmitButton/SubmitButton.css);


html {
  min-height: 100%;
background: linear-gradient(
    211deg,
    rgb(255 222 204) 0%,
    rgb(182 205 233) 100%
  );
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  margin: 0;
  min-height: 100%;
  background: transparent;

}

#root {
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: env(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
